* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-color: rgb(253, 96, 34);
    --main-background-color: rgb(204, 204, 204);
    --icon-check-color: rgb(230, 167, 8);
    --icon-clock-color: rgb(178, 0, 255);
    --icon-dollar-color: rgb(4, 216, 163);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#mainLogo {
    float: left;
    margin: 0 250px;
}

nav ul {
    list-style: none;
    font-size: 16px;
    margin: 20px 50px;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

li {
    display: inline-block;
    margin: 5px 10px;
}

.homepage {
    height: 600px;
    background-color: var(--main-background-color);
    display: inline-block;
    width: 100%;
    text-align: center;
}

#tagline {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 530px;
    display: block;
    padding-top: 100px;
}

.button {
    margin: 30px auto;
    width: 120px;
    height: 35px;
    background-color: var(--button-color);
    border-radius: 25px;
}

 .button:hover {
    cursor: pointer;
 }

.button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 12px;
    padding-top: 10px;
}

.icon {
    width: 30px;
    margin: 30px auto 15px;
}

.icons_wraper {
    display: inline-block;
    font-size: 14px;
}

.icon_dollar {
    color: var(--icon-dollar-color);
}

.icon_clock {
    color: var(--icon-clock-color);
}

.icon_check {
    color: var(--icon-check-color);
}

.icon_dollar, .icon_clock, .icon_check {
    display: inline-block;
    margin: 0 35px;
    width: 192px;
}